<!DOCTYPE html>
<html lang="ko">
<head><meta charset="UTF-8"><title>메인</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <div class="box">
    <h1>안녕하세요, {{ name }}님!</h1>
    <a href="{{ url_for('main.logout') }}" class="btn">로그아웃</a>
    <h2>심리테스트 능력고사</h2>
    <a href="{{ url_for('main.survey', survey_type='male') }}" class="btn">남자어 테스트</a>
    <a href="{{ url_for('main.survey', survey_type='female') }}" class="btn">여자어 테스트</a>
  </div>
</body>
</html>
