<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        남자어/여자어 능력테스트
    </header>
    <div class="container">
        <div class="form-container">
            <h2>로그인</h2>
            <form method="POST" action="{{ url_for('main.login') }}">
                <input type="email" name="email" placeholder="이메일" required>
                <input type="password" name="password" placeholder="비밀번호" required>
                <input type="submit" value="로그인">
            </form>
            <p>아직 계정이 없으신가요? <a href="{{ url_for('main.signup') }}">회원가입</a></p>
        </div>
    </div>
</body>
</html>
